* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* Title */
h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
}
.subtitle {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
}
/* Galeria */
.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
.container>div {
    flex: 1 1 200px;
    margin: 30px;
}
.card {
    height: 300px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    border: solid 1px #eee;
}
img {
    max-width: 100%;
    display: block;
}
img {
    height: 300px;
    width: 350px;
    border-radius: 3px;
    transition: .5s;
}
.animal-1 {
    height: 150px;
    width: 210px;
    position: relative;
    bottom: 70px;
    background: rgba(27, 27, 27, .5);
    color: white;
    transition: .5s;
}
h2 {
    margin: 10px;
    text-align: left;
    font-size: 20px;
    padding-top: 15px;
}
.text {
    font-size: 13px;
    margin: 5px 5px 0 0;
    padding: 8px;
    text-align: justify;
    visibility: hidden;
    opacity: 0;
}
span {
    font-weight: bold;
}
.card:hover {
    cursor: pointer;
}
.card:hover .animal-1 {
    height: 270px;
    bottom: 180px;
    background: black;
}
.card:hover p {
    opacity: 1;
    visibility: visible;
}
.card:hover img {
    transform: scale(1.1) rotate(-3deg);
}

/* Responsivo */
@media (max-width: 780px) {
    .animal-1 {
        width: 310px;
        padding: 0px 10px;
        display: block;
    }
}
@media (max-width: 750px) {
    .card {
        height: 300px;
        width: 300px;
    }
    .animal-1 {
        width: 290px;
        padding: 0px 10px;
    }
}
@media (max-width: 600px) {
    .card {
        height: 300px;
        width: 300px;
    }
    img {
        width: 450px;
        display: block;
    }
    .animal-1 {
        width: 430px;
        padding: 0px 20px;
    }
}